/* --------------------------------- */
/* BASIC SETUP*/
/* --------------------------------- */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* --------------------------------- */
/* General Styles */
/* --------------------------------- */

div#encoder form, div#decoder form { float: left; }

form label {
  display: inline-block;
  width: 80px;
  vertical-align: top;
  font-weight: bold;
}

form textarea { width: 300px; height: 5em; }
form textarea.large {
  width: 400px;
  height: 20em;
}

form input[type="text"] { width: 300px; }

div.result {
  float: left;
  margin-left: 50px;
  width: 400px;
  word-wrap: break-word;
}

table {
  border-collapse: collapse;
  min-width: 600px;
}

table tr th {
  border: 1px solid black;
  color: white;
  background: black;
  text-align: left;
  padding: 0.25em 0.5em;
}

table tr td {
  border: 1px solid black;
  vertical-align: top;
  padding: 0.25em 0.5em;
}

td.message {
  max-width: 400px;
  word-wrap: break-word;
}

td.center {
  text-align: center;
}
